<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <header>
        <h1>I scream for Ice Cream! 🍦</h1>
        <nav>
            <a href="/">Home 🏠</a>
            <a href="/about">About 🛈</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="center">
                <h1 id="about-h1">About Big Mike! 🧔‍♂️</h1>
                <br>
            </div>
            <div class="center">
                <figure>
                    <img id="about-img" src="./static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
                    <figcaption>Big Mike! 👷</figcaption>
                </figure>
            </div>
        </section>
    </main>
</body>

</html>

