<!--index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Flask-SQLAlchemy Student List! 🏫</a>
        <a href="{{ url_for('create') }}">Add Student 🖊️</a>
        <a href="{{ url_for('about') }}">About ❓</a>
    </nav>
    <main>
        <section class="content">

            {% for student in students %}
            <div class="student">
                <p><strong>#{{ student.id }}</strong></p>
                <strong><p class="name">
                        <a href="{{ url_for('student', student_id=student.id)}}">
                            {{ student.firstname }} {{ student.lastname }}</a></p>
                </strong>
                <p>{{ student.email }}</p>
                <p>{{ student.age }} years old.</p>
                <p>Joined: {{ student.created_at }}</p>
                <div class="bio">
                    <h4>Bio</h4>
                    <p>{{ student.bio }}</p>
                </div>
                <a href="{{ url_for('edit', student_id=student.id) }}">Edit</a>
                <hr>
                <form method="POST" action="{{ url_for('delete', student_id=student.id) }}">
                    <input type="submit" value="Delete Student"
                        onclick="return confirm('Are you sure you want to delete this entry?')">
                </form>
            </div>
            {% endfor %}

        </section>
    </main>
</body>

</html>

